body{
    background-color: darkkhaki;
    margin:0px;
}

#wrapper{
    width: 960px;
    background-color: darkseagreen;
    margin-right: auto;
    margin-left: auto;
}

header{
    background-color: darksalmon;
    height: 150px;
    position: relative;
}